* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* CODE FOR THE NAVIGATION BAR */

.navbar {
    border: 1px solid black;
    width: 100%;
    height: 68px;
    background-color: #1A3263;
    box-shadow:  0px 2px 0px rgba(0, 0, 0, 0.25);
    display: flex;
}

.logo {
    text-decoration: none;
    text-decoration-style: none;
    color: #FAB95B;
    margin: 19px 0 0 150px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

input[type=search] {
    width: 282px;
    height: 47px;
    margin: 11px 0 0 150px;
    border: 10px solid #ffffff;
}

input[type=search]:focus {
    outline: 1px solid  blue;
}

.link-collection {
    margin: 0 0 0 150px;
    /* border: 1px solid #fff; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
}

.link {
    margin: 0px 60px;
    list-style-type: none;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 15px;
    text-decoration: uppercase;
}

.link-collection li a {
    text-decoration: none;
    color: #fff;
}

.link-collection .link a {
    text-decoration: none;
}

#active {
    color: #FAB95B; 
}

/* CODES FOR THE SECTION TITLE */

.title-div {
    text-align: center;
    margin-top: 50px;
}

.title-div h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #263238;
    font-style: normal;
    font-size: 24px;
    font-weight: bold;  
}

.title-div h1::after {
    display: block;
    height: 4px;
    background-color:#FAB95B;
    content: "  ";
    width: 50px;
    margin: 0 auto;
    margin-top: 5px;
}

/* CODES FOR THE COURSES SECTION */

.courses-layer {
    border: 1px solid black;
    display: flex;
    flex-flow: column;
    width: 100%;
    margin-top: 50px;
}

.course {
    border: 1px solid black;
    display: flex;
    flex: 1;
    flex-flow: row;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;

}

.course-description {
    border: 1px solid red;
}

.course-description h2 {

}